{% load i18n %}
<div class="gallery-title">
    <div class="row">
        {% if title == "PARI Freedom Fighters Gallery" %}
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
                <h1 class="title-light text-center title-size">{{ title }}</h1>
                <div class="paragraph-dark text-center">{% trans sub_heading %}</div>
                <hr style="border-top: 2px solid #eee; width: 30%;">
                <div class="text-left">
                    <p>Launched on August 15, 2022, this gallery is home to photos and videos of India's little-known foot soldiers of freedom. Some of these already appear elsewhere in PARI. But there are many that don't, and this collection could keep growing - both in terms of pictures and videos - and also in that more freedom fighters will be added to our list.</p><br />

                    <p>The gallery is, in effect, a work in progress. Some of the photos here appear in PARI Founder Editor P. Sainath's book, <a href="https://penguin.co.in/book/the-last-heroes/">The Last Heroes: Foot Soldiers of Indian Freedom</a>, published in November 2022 by Penguin Random House India. Readers of the book will find a unique QR code at the end of each chapter, scanning which will bring them to the specific freedom fighter's album in this gallery.</p><br />
                </div>
            </div>
        </div>
        
        {% else %}
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 gallery-title-icon go-back">
            <span class="prev">
                <a class="link-light" href="{% url "gallery-home-page" %}">
                    <i class="fa fa-angle-left"></i>
                    <span>{% trans "GALLERY" %}</span>
                </a>
            </span>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
            <div>
                <h1 class="title-light text-center title-size">{{ title }}</h1>
                <div class="paragraph-dark text-center">{% trans sub_heading %}</div>
                {% if description %}
                <hr style="border-top: 2px solid #eee; width: 30%;">
                <div class="text-left">
                    {% for paragraph in description %}
                    <p>{% trans paragraph %}</p><br />
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 gallery-title-icon share-icon">
            <div class="text-right">
                {% with request.build_absolute_uri as url %}
                <span class="gallery-social-icon">
                    <a href="https://twitter.com/intent/tweet?url={{ url|urlencode }}&amp;hashtags=RuralIndiaOnline&amp;via=PARINetwork" target="_blank" class="link-light">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://facebook.com/sharer.php?u={{ url|urlencode }}&t={{ title|urlencode }}" target="_blank" class="link-light">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                    </a>
                </span>
                {% endwith %}
            </div>
        </div>
        {% endif %}
    </div>
</div>